.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
}
.spinner {
  position: relative;
}
.spinner-text {
  display: block;
  animation: blinking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.rect {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  animation: moving, blinking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
