* {
  box-sizing: border-box;
}
.square {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: coral;
  animation: make;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
@keyframes make {
  0% {
    background-color: coral;
    left: 0;
    top: 0;
  }
  25% {
    left: 300px;
    top: 0;
    background-color: cornflowerblue;
  }
  50% {
    left: 300px;
    top: 300px;
    background-color: aqua;
  }
  75% {
    left: 0;
    top: 300px;
    background-color: yellowgreen;
  }
  100% {
  }
}
